
html {
	background-color: #E1C9A6;
	font-family: "Droid Serif", georgia, serif;
}
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E1C9A6;
}

nav {
	/*float: right;*/
}
nav a { 
	text-decoration: none;
	color: #634019;
}
nav ul {
	list-style: none;
	float: right;
}
nav li {
	display: inline;
	margin-left: 20px;
}
h1 {
	clear: both;
	color: #488E94;
}